/* 顶部黑色导航栏--site-topbar-- */
.site-topbar{
    color: #b0b0b0;
    font-size: 12px;
    background-color: #333;
    height: 40px;
}
.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
}
.site-topbar .topbar-nav a{
    display: inline-block;
    line-height: 40px;
    color: #b0b0b0;
    position: relative;
    /* text-align: center; */
}
.site-topbar .topbar-nav a:hover{
    color: #fff;
}
.site-topbar .topbar-nav .sep{
    margin: 0.3em;
    color: #424242;
    font-family: sans-serif;
}
/* topbar-download */
.site-topbar .topbar-nav a.topbar-download:hover::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 18px;
    background-color: #fff;
    width: 15px;height: 15px;
    transform: rotate(45deg);

}
.site-topbar .topbar-nav a>span{
    position: absolute;
    top: 40px;
    left: 50%;
    width: 124px;height: 0px;
    background-color: #fff;
    margin-left: -55px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    transition: height .3s;
    z-index: 1;
    
    
}
.site-topbar .topbar-nav a:hover>span{
    height: 148px;
}

.site-topbar .topbar-nav .appcode img{
    display: block;
    margin: 18px auto 12px;
    border: 0;
    width: 90px ;height: 90px;

}


/* 购物车 */
.site-topbar .topbar-cart{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    transition: all .2s;
    background-color: #424242;
}
.site-topbar .topbar-cart a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    
}
.site-topbar .topbar-cart:hover{
    background-color: #fff;
   
}
.site-topbar .topbar-cart:hover a{
    color: #ff6700;
}

.site-topbar .topbar-cart a span{
    margin-left: 5px;
}
.site-topbar .topbar-cart .topbar-cart-menu{
    position: absolute;
    right: 0;
    top: 40px;
    width: 316px;height: 0px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    text-align: center; 
    overflow: hidden;  
    transition: height .3s;
    line-height: 100px;
    z-index: 2;
}
.site-topbar .topbar-cart:hover .topbar-cart-menu{
    height: 100px;
}

.site-topbar .topbar-info{
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.site-topbar .topbar-info a{
    float: left;
    color: #b0b0b0;
    padding: 0 5px;
    text-align: center;
    font-size: 12px;
}
.site-topbar .topbar-info a.message{
    padding: 0 10PX;
}
.site-topbar .topbar-info a:hover{
    color: #fff;
}
.site-topbar .topbar-info .sep{
    float: left;
    color: #424242;
}
/* 二级导航栏 */
.site-header{
    /* background-color: #424242; */
    height: 100px;
    overflow: visible;
    z-index: 200;
    /* border-bottom: 1px solid #e0e0e0; */
}

.site-header .header-logo{
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .header-logo a{
    position: relative;
    display: block;
    width: 55px;height: 55px;
    overflow: hidden;
    background-color: #ff6700;
}
.header-logo a span{
    position: absolute;
    top: 2px;
    left: -45px;
    display: block;
    width: 200%;
    font-size: 0;
    transition: left .2s;
}
.header-logo a span img{
    display: inline-block;
}
.header-logo a:hover span{
    left: 3px;
}
.site-header .header-nav{
    float: left;
    width: 850px;
    /* border: 1px solid black; */
}
.site-header .header-nav .nav-list{
    /* position: relative; */
    float: left;
    width: 1100px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
    /* border: 1px solid red; */
}
.site-header .nav-category{
    position: relative;
    float: left;
    width: 127px;height: 1px;
    padding-right: 15px;
    /* visibility: hidden; */
}
.site-header .nav-category a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    transition: color .2s;
}
.site-header .nav-item{
    float: left;
    /* position: relative; */
}
.site-header .nav-item>a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    transition: color .2s;
}
.site-header .nav-item>a:hover{
    color: #ff6700;
}
/* header-nav的下拉菜单 */

.site-header .header-nav .item-children{
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    background-color: #fff;
    transition: height .3s ease-in;
}
.site-header .header-nav .item-children.active{
    height: 230px;
    box-shadow:0 1px 5px #aaa ;
}

.site-header .header-nav .item-children .container{
    height: 230px;
    overflow: hidden;
    position: relative;
}


.site-header .header-nav .item-children ul.children-list{
    position: absolute;
    top: 0;left: 0;
    background-color: #fff;
    z-index: 0;
}
.site-header .header-nav .item-children ul li{
    display: inline-block;
    padding: 35px 0 28px 0;
    text-align: center;
    cursor: auto;
}
.site-header .header-nav .item-children .figure{
    border-right:1px solid #e0e0e0 ;
    width: 200px;height: 100px;
   
}
.site-header .header-nav .item-children li:last-child .figure{
    border-right: none;
}
.site-header .header-nav .item-children .title{
    color: #000;
    font-size: 12px;
    margin-top: 30px;
}
.site-header .header-nav .item-children .price{
    color: #ff6700;
    font-size: 12px;
    margin-top: 2px;
}

/* .site-header  .nav-list:hover .item-children{
    height: 230px;
    box-shadow:0 1px 5px #aaa ;
    transition: height .3s ease-in;
} */
/* 为了下拉菜单覆盖在下面的轮播图上面，需要改变header的z-index */
.header{
    /* z-index 必须添加position才能生效    */
    position: relative;
    z-index: 100;
}
/* 注意，.item-children是相对.site-header绝对定位 */
/* .site-header .nav-item .item-children{ */
    /* display: none; */
    /* height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff; */
    /* left: -238px; */
    /* border: 1px solid red; */
    /* border-top: 1px solid #333; */
    /* transition: height .3s ease-in; */
/* } */
/* .site-header .nav-item:hover .item-children{ */
    /* display: block; */
    /* height: 230px; */
    /* border-top: 1px solid #e0e0e0; */
    /* box-shadow:0 1px 5px #aaa ;
    transition: height .3s ease-in;
} */
/* .site-header .nav-item .item-children ul li{
    display: inline-block;
    padding: 35px 0 28px 0;
    text-align: center;
    cursor: auto;
}
.site-header .item-children .container{
    height: 230;
    overflow: hidden;
    transition: height .3s ease-in;
    z-index: 300;
}
.site-header .nav-item .item-children .figure{
    border-right:1px solid #e0e0e0 ;
    width: 200px;height: 100px;
   
}
.site-header .nav-item .item-children li:last-child .figure{
    border-right: none;
}
.site-header .nav-item .item-children .title{
    color: #000;
    font-size: 12px;
    margin-top: 30px;
}
.site-header .nav-item .item-children .price{
    color: #ff6700;
    font-size: 12px;
    margin-top: 2px;
} */


/* 搜索框 */

.site-header .header-search{
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .header-search form{
    position: relative;
    width: 296px;
    height: 50px;
}
.site-header .header-search .search-text,.site-header .header-search .search-btn{
    position: absolute;
    top: 0;
    border: 1px solid #e0e0e0;
    outline: 0;
    transition: all .2s;
}
.site-header .header-search input.search-text{
    
    right: 51px;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
    box-sizing: content-box;
}
.site-header .header-search .search-btn{
    display: inline-block;
    right: -2px;
    width: 52px;
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    background-attachment: #fff;
    color: #616161;
    
}
.site-header .header-search .search-btn:hover{
    background-color: #ff6700;
    color:#fff;
    border-color: #ff6700;
}
.site-header .header-search div.keyword-list{
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
    background-color: #fff;
}
.site-header .header-search div.keyword-list.active{
    display: block;
}
.site-header .header-search .keyword-list li a{
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
